.main {
    padding: 1rem 0;
    display: grid;
    gap: 1rem;
    background: var(--background-other);
}

.header {
    display: flex;
    padding: 0rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.header>form {
    display: none;
}

.header>a {
    margin: auto;
}

.header>a>img {
    width: 90px;
    margin: auto;
}

.profile {
    border-radius: 100%;
    background: white;
    border: 2px solid var(--other-color);
    padding: .2rem;
    width: 38px;
    height: 38px;
    fill: var(--other-color);
}

.error_section {
    display: grid;
    gap: 1rem;
    place-content: center;
    min-height: 60vh;
    font-size: 1.1rem;
}

.error_section_icon {
    margin: auto;
}

.error_section p {
    color: var(--other-color);
}

.error_section button, .error_section a {
    background: lightskyblue;
    border: transparent;
    padding: 0.5rem 1.5rem;
    width: fit-content;
    margin: auto;
    border-radius: 17px;
    font-size: 1.1rem;
    color: white;
}

@media screen and (min-width: 768px) {
    .hide_on_desktop {
        display: none;
    }

    .main {
        background-color: white;
    }

    .header {
        justify-content: left;
        gap: 2rem;
    }

    .header>form {
        display: flex;
        align-items: center;
        width: 55%;
        margin-right: auto;
        border: 1px solid var(--other-color);
        padding: 0.2rem 0.5rem;
        border-radius: 30px;
        justify-content: space-between;
    }

    .header>a {
        margin: unset;
    }

    .searchbar input {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        border: transparent;
        outline: transparent;
        font-size: 1.2rem;
        color: var(--other-color);
    }

    .searchbar input::placeholder {
        font-size: 1rem;
    }

    .searchbar>button, .searchbar img {
        width: 25px;
        height: 25px;
        background: transparent;
        border: transparent;
    }
}